body {
	font-family : Verdana;
	font-size : 12px;
}

P {
	font-size : 12px;
}

IMG {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

H2 {
	color : blue;
}

PRE {
	display : inline-block;
	border : 1px solid black;
	padding : 5px;
}

TABLE {
	margin-left : auto;
	margin-right : auto;
}

.global-nav {
    width : 210px;
    float : left;
    background : #eee;
}

.global-nav a, li {
    color : black;    
    line-height: 25px;          
    text-decoration : none;
    font-weight : bold;  
}

.sidebar_main {
    color : blue;
}

.global-nav li:hover {
    background : #ccc;
}

.global-subnav {
    background: #eee;
}

.sidebysidecenterdiv {
	text-align: center;
}

.sidebysidecenter {
	display: inline-block;
}

A.linklist {
	color : #333333;
	font-family : Verdana;
	font-size : 12px;
	text-align : left;
	text-decoration : none;
	padding-bottom :0px;
	padding-left : 17px;
	padding-right : 20px;
	padding-top : 0px;
	visibility : visible;
}

A.linklist:hover {font-weight : bold; color : #333333}

.main li, p {
	font-weight : normal;
	text-align : justify;
}

.maintitle {
	font-weight : bold;
	text-align : center;
	border-style: solid;
	background : url(yellow.jpg);
}

.tabhead {
	color: white;
	font-size : 10pt;
	font-weight : bold;
	text-align : left;
	border: 1pt solid #000000;
	background :gray;
}

.tabdata {
	color: #333333;
	font-size : 10pt;
	text-align : left;
	border: 1pt solid #000000;
	background :#F8F8F8;
}

.error em {
  color : red;
}